<?xml version="1.0"?>
<!--
/**
 * @author MageBild Team
 * @copyright Copyright (c) 2019 Magebild
 * @package Magebild_Paymongo
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_paymongo">
        <observer name="Magebild_Paymongo::assignData" instance="Magebild\Paymongo\Observer\DataAssignObserver"/>
    </event>
</config>
